extends includes/layout.pug

block content
	.row
		div.card
			.card-content
				.card-title Subscribed Users
				if data
						table.highlight
							thead
								tr
									th(data-field='id') Id
									th(data-field='username') Username
									th(data-field='first_name') First Name
									th(data-field='last_name') Last Name
									th(data-field='time') Register Time
									th() Actions
							tbody
								each user in data
									- user = JSON.parse(user);
									tr
										td= user.id || '-'
										td= user.username || '-'
										td= user.first_name || '-'
										td= user.last_name || '-'
										td= user.time || '-'
										td.action-buttons
											i.sendUserMessageBtn.actionbtn.material-icons(data-userid=user.id) message
											i#deleteUserBtn.actionbtn.material-icons(data-userid=user.id) delete		
